<!DOCTYPE html>
html(
  prefix="og: http://ogp.me/ns#"
)
  head
    meta(
      property="og:type"
      content="website"
    )
    meta(
      property="og:url"
      content="https://is-ntr.glitch.me/g/" + id
    )
    
    if Array.from(tags.map( t => { return t.name } ) ).includes("netorare")
      title= id + " is NTR!"
      meta(
        property="og:title"
        content= id + " is NTR!"
      )
      meta(
        property="og:description"
        content="Warning this doujin is NTR tagged."
      )
      meta(
        property="og:image"
        content="https://cdn.glitch.com/77af33f7-80bb-4932-b3a7-ada8a91dcd59%2F1109px-Warning.svg.png?v=1591529031783"
      )
      meta(
        property="og:image:width"
        content="1109"
      )
      meta(
        property="og:image:height"
        content="1024"
      )
      meta(
        name="description"
        content="Warning this doujin is NTR tagged."
      )
    else
      title= id + " is safe."

  body
    if Array.from(tags.map( t => { return t.name } ) ).includes("netorare")
      h1 Warning this doujin is NTR.
    else
      h1 This doujin is non-NTR.
    
    a(
      href="https://nhentai.net/g/" + id
      title="Read now!"
      rel="nofollow"
    ) Read Now!
